body {

    background-color: #101014;
}

.top-nav {

    background-color: #121216;
    font-family: Impact, 微软雅黑;
    font-weight: bold;
    font-size: 120%;
    border-radius: 5%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
}

.top-nav a {

    margin-top: 0%;
}

.top-nav a:hover,
.top-nav a:active,
.top-nav a:focus {

    color: rgb(228, 0, 127);
}

.nav-link {

    color: inherit; /* 继承父元素的颜色 */
    text-decoration: none; /* 去除下划线 */
    margin-top: 10%;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {

    color: white;
}

.nav-search {

    margin-left: 10%;
}

.nav-item {

    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.nav-buycar {

    margin-left: auto;
    margin-right: 10%;
}

.nav-item button {

    padding: 8px;
    margin-top: 5.4375px;
}

.offcanvas-header {

    background-color: #101014;
}

.offcanvas-header h5 {

    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.buycar-close {

    background-color: rgb(228, 0, 127);
}

.offcanvas-body {

    background-color: #121216;
}

.bottom-pay {
    
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(228, 0, 127);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: 微软雅黑;
    font-weight: bold;
    z-index: 1000;
    transition: all 0.3s ease;
}

.bottom-pay a {

    color: white;
    text-decoration: none !important;
}

.form-control {

    background-color: RGB(32, 32, 36);
    border: none;
}

/* 搜索框聚焦 */
.nav-search input[type="search"]:focus {

    background-color: RGB(32, 32, 36); /* 聚焦时的背景颜色保持不变 */
    color: white;
    box-shadow: none;
}

.nav-item-custom {

    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 120%;
    color: #878789;
}

.buycar,
.buycar:active{
    background: none !important; /* 去除背景 */
    border: none !important; /* 去除边框 */
    color: #878789 !important; /* 设置文字颜色 */
    font-size: 120% !important; /* 设置文字大小 */
    font-weight: bold !important;
    font-family: 微软雅黑 !important;
    outline: none !important; /* 移除聚焦时的默认样式 */
}

.buycar:hover,
.buycar:focus {

    background: none !important; /* 去除背景 */
    border: none !important; /* 去除边框 */
    color: white !important; /* 设置文字颜色 */
    font-size: 120% !important; /* 设置文字大小 */
    font-weight: bold !important;
    font-family: 微软雅黑 !important;
    outline: none !important; /* 移除聚焦时的默认样式 */
}

.abuycar:hover,
.abuycar:active,
.abuycar:focus {

    background: none !important; /* 去除背景 */
    border: none !important; /* 去除边框 */
}