body {

    background-color: #101014;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigbox {

    display: flex;
    flex-direction: column; /* 使子元素垂直排列 */
    justify-content: flex-start; /* 使内容在容器顶部对齐 */
    align-items: center; /* 使内容在容器水平居中 */
    height: 80vh;
    width: 55vh;
    margin: 5%;
    background-color: #121216;
    border: #303033 1px solid;
    border-radius: 15px; /* 添加圆角 */
}

.logo {
    
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.logo a {

    display: flex;
}

.logo img {

    width: 45%;
    margin: 0 auto;
}

.signup {

    font-family: Impact, 微软雅黑;
    font-weight: bold;
    font-size: 120%;
    color: #aeaeb0;
    margin-top: 1%;
}

.form-group {

    margin-bottom: 2%;
}

.signup_form {

    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 90%;
    color: #aeaeb0;
    margin-top: 2%;
    width: 60%;
}

.form-control {

    background-color: #121216;
    border: #303033 1px solid;
    padding: 1%; /* 增加内边距以增加输入框高度 */
    padding-left: 2%;
}

.form-control:focus,
.form-control:active {

    background-color: #121216;
    color: white;
    border: white 1px solid;
}

/* 取消自动填充底色 */
input:-webkit-autofill { 

    transition: background-color 9999999999s ease-in-out 0s; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,  
input:-webkit-autofill:focus,   
input:-webkit-autofill:active {

    -webkit-text-fill-color: white; 
    caret-color: rgb(255, 255, 255)
}

.btn,
.btn:hover,
.btn:focus {

    margin: 2% auto;
    background-color: rgb(228, 0, 127);
    color: black;
    border: none;
    width: 100%;
    height: 6%;
    font-weight: bold;
    font-size: 90%;
}

.btn:active {

    margin: 2% auto !important;
    background-color: rgb(228, 0, 127) !important;
    color: black !important;
    border: none !important;
    width: 100% !important;
    height: 6% !important;
    font-weight: bold !important;
    font-size: 90% !important;
}

button:disabled {

    margin: 2% auto;
    background-color: #444448 !important;
    color: #aeaeb0;
    border: none;
    width: 100%;
    height: 6%;
    font-weight: bold;
    font-size: 90%;
}

.form-control:valid {

    color: white;
}